
.bannerHolder {
  position: relative;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.bannerHolder img {
  margin-top: -85px;
  margin-bottom: 0px;
 }

.bannerHolder .name {
  position: absolute;
  left: 100px;
  top: 45px;
  color: white;
  font-size:2.5em;
}
.bannerHolder .problems {
  position: absolute;
  left: 100px;
  top: 85px;
  color: white;
  font-size:1.5em;
}